/* VARIABLES */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

//Golden ratio

$phi: 1.6180339887498948482;

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

//Font family

$font_sans: Poppins, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

//Font sizes

$font_xxs: 15px / $phi;
$font_xs: 15px;
$font_sm: $font_xs * $phi;
$font_md: $font_sm * $phi;
$font_lg: $font_md * $phi;
$font_xl: $font_lg * $phi;

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

//Font weights

$thin: 100;
$extra_light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;
$extra_bold: 800;
$black: 900;

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

//ELements

$sidebar_width: 350px;
